<div class="content">
  <div class="content-inside">
    <div class="my-4">
      <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="background-color: #2E9AFE;color: white" class="nav-link active" id="home-tab" data-toggle="tab"
            role="tab" aria-controls="home" aria-selected="false"><b>Rollouts - Brasília - 
              {if="totalRolloutsBsb() == 0"}
              Nenhum Registrado
              {elseif="totalRolloutsBsb() == 1"}
              {function="totalRolloutsBsb()"} Registrado
              {else}
              {function="totalRolloutsBsb()"} Registrados
              {/if} </b></a>

        </li>

      </ul>

       {if="$usuario.localidade =='Brasília'"}      

       <a style="width: 15%;" href="/admin/registrar-rollout"class="btn btn-primary btn-sm"><i class="fa fa-plus-circle" aria-hidden="true"></i><b> Registrar Rollout</b></a>

         {/if}

     
   {if="totalRolloutsBsb() != 0"}
      <div class="search" style="float: right">
        <form action="/admin/todos-rollouts-bsb" method="get">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Digite sua pesquisa...">
            <span class="input-group-btn">
              <button class="btn btn" style="background-color: #2E9AFE;color: white" type="submit" id="search-btn"><i
                  class="fa fa-search" style="font-size:13px;"> PESQUISAR</i>
              </button>
            </span>
          </div>
        </form>
      </div><br><br>

       {if="$profileMsg != ''"}
      <div class="alert alert-success">
        <b>{$profileMsg}</b>
      </div>
      {/if}

      <div class="table-responsive">
        <table class="table table-hover table-sm  table-bordered">
          <thead class="table table-dark">
            <tr style="font-size: 16px; font-weight: bold; ">





              <th>
                <center>Analista<b>
              </th>

              <th>
                <center>N° Chamado<b>
              </th>
              <th>
                <center>Colaborador(a)<b>
              </th>
              <th>
                <center>Entrega
              </th>
              <th>
                <center>Anexo(s)
              </th>

              <th>
                <center>Situação
              </th>
              <th>
                <center>Visualizar
              </th>
                  <th>
                <center>Excluir
              </th>



            </tr>
          </thead>
          <tbody>
            {loop="$rollouts"}
            <tr style="font-size: 15px;font-weight: normal;">


              <td>
                <center> <a href="/admin/rollout/alteracao-analista/{$value.id_rollout}"   onclick="return confirm('Deseja alterar o Analista?')" style="width: 100%;" class="btn btn-link btn-sm">{$value.nome_user}
              </td>

              <td>
                <center>{$value.n_chamado}
              </td>
              <td>
                <center>{$value.nome}
              </td>



              <td>
                <center>{function="formatDate($value.dt_data_rollout)"}
              </td>

              <td>
                <center> <a style="width: 100%;" href="/admin/todos-rollouts/arquivos/{$value.id_rollout}"
                    class="btn btn-warning btn-sm">
                   
                    {if="numArquivos($value.id_rollout) == 1"}
                    <b>{function="numArquivos($value.id_rollout)"} Arquivo</b></a>
                  {else}
                  <b>{function="numArquivos($value.id_rollout)"} Arquivos</b></a>
                  {/if}
              </td>

             {if="$value.situacao == '' OR $value.situacao == 'Pendente' "}

              <td>
                <center>
                  <a style="width: 100%;" href="/admin/rollout-situacao/{$value.id_rollout}"
                    onclick="return confirm('Deseja alterar a situação do rollout do(a) {$value.nome}?')" type="button"
                    class=" btn btn-outline-danger btn-sm "><i class="fas fa-exclamation-triangle"></i> Pendente</a>
              </td>

              {else}
              <td>
                <center><a style="width: 100%;" style="width: 80px;"
                    href="/admin/rollout-situacao/{$value.id_rollout}"
                    onclick="return confirm('Deseja alterar a situação do rollout do(a) {$value.nome}?')" type="button"
                    class="btn btn-outline-success btn-sm "><i class="fas fa-check-square"></i> Finalizado</a>
              </td>

              </td>
              {/if}
              <td>
                <center> <a style="width: 100%;" href="/admin/rollout-visualizar/{$value.id_rollout}"
                    class="btn btn-primary btn-sm"><b> Verificar</b></a>
              </td>

               <td>
                <center><a style="width: 100%;" href="/admin/rollouts/delete/{$value.id_rollout}"
                    onclick="return confirm('Deseja realmente excluir o Rollout do(a) {$value.nome}?')"
                    class="btn btn-danger btn-sm"><b> Excluir</b></a>
              </td>


            </tr>

            {/loop}

          </tbody>

        </table><br>

      </div>



      <center>
        <div class="box-footer clearfix">
          <ul class="pagination">
            {loop="$pages"}
            {if="$pages == $value.link"}
            <li> <a class="active" href="{$value.link}">{$value.page}</a></li>
            {else}
            <li><a href="{$value.link}">{$value.page}</a></li>
            {/if}
            {/loop}
        </div>
      </center>

      {/if}
      <br><br><a href="javascript:history.back()" class="btn btn-info btn-xs"><i class="fas fa-chevron-circle-left"></i><b>
          Voltar</b></a>


      <hr class="my-4" />

    </div>


  </div>

</div>