<div class="content">
    <div class="content-inside">
        <div class="my-4">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a style="background-color:#2E9AFE;color: white" class="nav-link active" id="home-tab"
                        data-toggle="tab" role="tab" aria-controls="home" aria-selected="false"><b>Situação do termo
                            do(a) {$value.nome_t} </b></a>
                </li>
            </ul>





            <form class="form-group" action="/usuario/termo/atualizar-situacao-rec/{$value.id_termos}" method="post">

                {if="$value.situacao_t == 'Pendente' OR $value.situacao_t == ''"}
                <div class="form-group">
                    <select class="form-control " name="situacao_t">
                        <option value="Pendente">Pendente</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>
                </div>
                {else}

                <div class="form-group">
                    <select class="form-control " name="situacao_t">
                        <option value="Finalizado">Finalizado</option>
                        <option value="Pendente">Pendente</option>

                    </select>
                </div>
                {/if}

                <input class="btn btn-primary btn btn-block" type="submit" value="Alterar">
            </form>


            <hr class="my-4" />

            <a href="javascript:history.back()" class="btn btn-info btn-xs"><i
                    class="fas fa-chevron-circle-left"></i><b> Voltar</b></a>

        </div>
    </div>
</div>